POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
POSTGRES_HOST=xxx
POSTGRES_PORT=5432
POSTGRES_DATABASE=postgres

REDIS_URL=xxx
KEY=D4swdtExJzYToq5L6JujuKjVYXuIREyzJp5A0GHJj4U=
VERBOSE_POSTGRES=
MIGRATE_POSTGRES=

PORT=443
SOCKETIO_PORT=443

USE_HTTPS=true

PROD=true

FULLCHAIN_PATH=/etc/letsencrypt/live/backnoveluzu.eslus.org/fullchain.pem
KEY_PATH=/etc/letsencrypt/live/backnoveluzu.eslus.org/privkey.pem